.loader-container {
    width: 100vw;
    height: 100svh;
    background-color: #a38282;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 30;
    position: absolute;
    top: 0;
    left: 0;

    h3 {
        margin-bottom: 20px;
        animation: flash 1.4s ease infinite alternate;
    }

    @keyframes flash {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .loader {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, .1);
        animation: spin 3s ease-in-out infinite;
    }

    
}